*{
  box-sizing: border-box;
  padding:0;
  margin:0;
  font-family: 'Lato', sans-serif;
}

body{
  background-color: #434343;
  min-height: 100vh;
}

header{
  width:100%;
  height:80px;
  background-color: #000;
  position: sticky;
}

header div{
  width:80%;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#searchinput{
  padding:5px;
  border: none;
  border-radius: 5px;
  text-align: center;
}
section{
  width:80%;
  margin:0 auto 50px;
  display: flex;
  flex-wrap: wrap;
}

.container{
  width:calc(25% - 15px);
  margin:15px 15px 0 0;
  background-color: #000;
  border:solid white 2px;
  min-height:270px;
  color:white;
  position:relative;
  padding:8px;
}
.starscontainer{
  margin:0 auto;
  font-size: 16px;
}

.yellow{
  color:gold;
}

.poster{
  width:100%;
  height:100%;
}

.overlay{
  padding:15px;
  background-color: #000;
  opacity: .8;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:100%;
  height:100%;
  display: none;
  flex-direction: column;
  justify-content: space-around;
}

.container:hover .overlay{
  display: flex;
}

.overlay p{
  max-height: 50%;
  overflow-y: auto;
  word-wrap: break-word;
  font-size: 16px;
  max-width: 95%;
}


.overlay h3 ,.overlay h5{
  text-align:center;
}

.noresultbanner{
  width:80%;
  height: calc(100vh - 80px);
  margin:0 auto;
  text-align: center;
}

.noresultbanner img{
  width:80%;
  height:70%;
}

.noresultbanner h1{
  color:#285dbe;
  margin-top:20px;
  font-size: 60px;
}

.type{
  position:absolute;
  right:10px;
  top:5px;
  color:crimson;
}

@media screen and (max-width:740px){
  .container{
    width:calc(50% - 15px);
  }
}

@media screen and (max-width:455px){
  .container{
    width:calc(100%);
  }
  header img{
    max-width: 60%;
  }
}
