<!DOCTYPE html>
<!-- Exercitatio optimus est magister. -->
<html lang="en" dir="ltr">
  <head>
    <meta name="author" content="Giancarlo Zuliani">
    <meta name="description" content="Boolean Careers exercise">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" charset="utf-8"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>Boolflix</title>
  </head>
  <body>

    <main id="root">

      <!-- HEADER SEARCHBAR-->
      <header>
        <div class="">
          <img src="resources/logo.png" alt="">
          <ul>
            <li>Movie</li>
            <li>Tv series</li>
            <li>commedy</li>
            <li>drama</li>
            <li>action</li>
          </ul>
          <input type="text" id="searchinput" v-model="searchinput" @keyup="search()" placeholder="Search" value="">
        </div>
      </header>

      <!-- MAIN SECTION -->
      <section>
        <!--NO RESULTS BANNER-->
        <div v-if="dataArray.length < 1" class="noresultbanner">
          <img src="resources/noresults.svg" alt="">
          <h1>nessun risultato trovato</h1>
        </div>
        <div v-for="movie in dataArray" class="container" @mouseenter="getCast(movie.id)">
          <h6 class="type" v-if="movie.title !== undefined">Movie</h6>
          <h6 class="type" v-else>TVseries</h6>
          <img class="poster" :src="imgsrc + movie.poster_path" onerror="this.src='resources/emptyposter.jpg';" alt="resources/emptyposter.jpg">
          <!-- OVERLAY -->
          <div class="overlay">
            <h3>{{movie.title || movie.name}}</h3>
            <h5 v-if="movie.title !== movie.original_title">Titolo originale : {{movie.original_title}}</h5>
            <!-- RATING STARS CONTAINER -->
            <div class="starscontainer">
              <i :class="{yellow: movie.vote_average > 1}" class="fas fa-star"></i>
              <i :class="{yellow: movie.vote_average > 2}" class="fas fa-star"></i>
              <i :class="{yellow: movie.vote_average > 4}" class="fas fa-star"></i>
              <i :class="{yellow: movie.vote_average > 6}" class="fas fa-star"></i>
              <i :class="{yellow: movie.vote_average > 8}" class="fas fa-star"></i>
            </div>
            <!-- OVERVIEW -->
            <p>Overview:{{movie.overview}}</p>
            <div class="info">
              <img class="flag" :src="'resources/flags/' + movie.original_language + '.svg' " alt="">
              <h6 class="cast" v-for="actor in cast ">{{actor.name}}</h6>
            </div>
            <div class="genre">
              <span class="genres" v-for="genre in genre">{{genre}}</span>
            </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- SCRIPT -->
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
